
/*-------------------------------------
 * customize material design icon sizes 
 *-------------------------------------
 */

.material-icons.md-18 { font-size: 40px; }
.material-icons.md-24 { font-size: 40px; }
.material-icons.md-36 { font-size: 40px; }
.material-icons.md-48 { font-size: 40px; }

.material-icons{
    cursor: pointer;
}

.indexHeading{
    margin-top: 30%;
    margin-bottom: 5%;
}

#indexBody{
    margin-top: 5%;
    margin-bottom: 10%;
}

#indexContent1{
    margin-left: 20%;
}

#indexContent2{
    margin-left: 28%;
    margin-bottom: 15%;
}

#pageImage{
    float: right;
    height: auto;
    width:auto;
}

/* #loginPageImage{
    margin-top: 1%;
    float: right;
    width: 40%;
    margin-right: 5%;
} */

#loginPageHeading{
    margin-top: 1%;
}

#loginText{
    margin-top: 10%;
}
#loginBody{
    margin-bottom: 10%;
}

.buttons{
    text-align: center;
    margin-bottom: 3%;
}

#ChooseText{
    margin-left: 25%;
    margin-bottom: 2%;
}

#chooseImg{
    margin-top: 5%;
    margin-left: 32%;
    margin-bottom: 2%;
}
